.menu-button {
  $inner-padding: 15px;

  @include flex(flex-end);
  position: fixed;
  top: 12px;
  right: $inner-padding;
  z-index: 100;
  width: 25px;
  height: 25px;

  &-wrap {
    position: relative;
    width: 20px;
    height: 14px;

    span {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 18px;
      height: 2px;
      background-color: $font-base;
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;

      &:first {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
      }

      &:last-child {
        top: 100%;
      }
    }
  }

  &.active {
    .menu-button-wrap {
      span:first-child {
        top: 8px;
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
        transform: translateX(-3px);
      }

      span:last-child {
        top: 8px;
        transform: rotate(-45deg);
      }
    }
  }
}
